<div id="main-mod">
    
    <div class="gmMainDiv" id="login-home">
<!--   <center style = "padding-top: 32vh;"><h1>Arun! Wake up to reality</h1></center>-->
    <img class="Width100" src="./globusMobileApp/image/toflot/logo.jpg" >
    <input class="testBox" type="text" id="fn" placeholder="Firstname" value="Arun">
    <input class="testBox" type="text" id="ln" placeholder="lasstname" value="kumar">
    <div id="submit" class="login-button">Login</div>
     <div id="signup" class="login-button">Signup</div>
    <div id="result"></div>
</div>

<div class="gmMainDiv hide" id="user-dash">
    <div id="dash-header">
    
    <ul id="back"><i class="fas fa-angle-left"></i></ul>
    <ul id="module-header"></ul>
    <ul id="menu"><i class="fas fa-bars"></i></ul>
    
    
    
    </div>
<div id="dash-body"></div>
</div>




</div>